.titolo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    width: 70%;
    margin-top: 4%;
    margin-left: 10%;
    padding: 0.4%;
}
.search{
    float: right;
    background-color: transparent;
    width: 40%;
    margin-top: 1%;
    margin-right: 43%;
    padding: 0.4%;
}
#input{
    width: 70%;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border-radius: 4px;
}
#searchButton{
    padding: 10px 20px;
    background-color: white;
    border: solid rgb(3, 3, 3) 1px;
    color: rgb(3, 3, 3);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 6.8rem;
}
.form{
    background-color: transparent;
    float: right;
    padding: 2%;
    width: 78%;
    margin-right: 1%;
}
.column{
    
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 1%;
  width: 80%;
  font-family:Arial;
  margin-left: 10%;
}
.inputs[type=text],input[type=number],input[type=date],select {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    background-color: #f2f2f2;
    width: 20%;
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 3%;
   
  }
  
.inputs[type=submit]{
    background-color: lightsalmon;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display:inline-block;
    margin-top:20px;
  }
  
.inputs[type=submit]:hover {
    background-color: lightcoral;
  }
