.lamesa{
    background-color: white;
    width: 75%;
    padding: 3%;
    float: left;
    font-family: Arial;
    border-collapse: collapse;
    border-radius: 5px;
    overflow:auto;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 16%;
  
  }
.lamesa td, .lamesa th {
    border: 1px solid red;
    padding: 8px;
  }
  th{
    width: 10%;
  }
  .lamesa tr:nth-child(even){background-color: #f2f2f2;}
  
  .lamesa tr:hover {background-color: red;}
  
  .lamesa th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightsalmon;
  color: black;
  }
  button{
    background-color: lightgray;
  }
  button :hover{
    background-color: lightsalmon;
  }
  .container{
    width: 85%;
    float: right;
    margin-top: 0.5%;
} 
.search{
    background-color: transparent;
    width: 70%;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;        
}  
input{
    padding: 1%; 
    width: 25%;
}
  .btns{
    padding: 1%;
}
.shoulder{
    background-color: white; 
    width: 60%;
    float: right;
    margin-top: 1%;
    margin-right: 13%;
}