.card{
    width: 17%;
    background-color: white;
    float: right;
    margin-top: 1%;
    text-align: center;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    border: solid 2px #000;
  }
  
  .main{
    margin-right: 3%;
  }
  .pic{
    width: 15%;
  }
  
  .lamesa{
    background-color: white;
    width: 55%;
    padding: 3%;
    float: right;
    font-family: Arial;
    border-collapse: collapse;
    border-radius: 5px;
    overflow:auto;
    margin-top: 2%;
    margin-right: 15%;
  
  }
  .lamesa td, .lamesa th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th{
    width: 10%;
  }
  .lamesa tr:nth-child(even){background-color: #f2f2f2;}
  
  .lamesa tr:hover {background-color: #ddd;}
  
  .lamesa th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightsalmon;
    color: black;
  }