body{
    font-family: Arial, sans-serif;
    background-color: lightsalmon;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 10px;
    padding-left:5px;
    font-family:Arial;
}

.sidenav a,.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #050505;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: lightsalmon;
}

.active a {
    color: lightsalmon !important;
}

.active i {
    color: lightsalmon !important;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    margin:0px;
    vertical-align:top;
    width: 100%;
    height:9%;
    position: fixed;
    top: 0;
    left: 0;
}

.topnav a {
    float: right;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.topnav a:hover {
    color: lightsalmon;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.menu {
    display: flex;
    align-items: center; /* Vertically align the items */
    gap: 10px; /* Add spacing between the icon and the text */
}

i{
    padding:0.8rem 0.2rem;
    border-radius:10px;
    font-size:1.10rem;
    cursor:pointer;
    margin:0 15px;
    transition:1s;
}

i:hover{
    color:lightsalmon;
    font-size:1.10rem;
}

#logo{
    width: 100px;
    float: left;
    border-radius: 100%;
    border: solid 2px black;
    margin: 1.5rem;
    margin-left: 3rem;
}

div.head {
    width:100%;
    font-family:Arial;
    background-color:white;
    color:black;
    float:right;;
    margin-top:0px;
    margin-right:0px;
    margin-left:10px;
    top: 0;
    right: 0;
    overflow:hidden;
}

.card:hover{
    background-color: lightcoral;
    cursor: pointer;
}