body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightsalmon;
    display: flex;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.main-content {
    width: calc(100% - 240px);
    padding: 20px;
}
.content-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15%;
}
.content-section h3 {
    margin-top: 0;
}
.content-section ul {
    list-style: none;
    padding: 0;
}
.content-section ul li {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}