.recovery{
  width: 20%;
  background-color: white;
  float: right;
  margin-top: 1%;
  text-align: center;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
}
.custAcct{
  width: 20%;
  background-color: white;
  float: right;
  margin-top: 1%;
  text-align: center;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
}
.profile{
  width: 20%;
  background-color: white;
  float: right;
  margin-top: 1%;
  text-align: center;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
}
.image{
  margin-right: 15%;
}
.pic{
  width: 20%;
}
