.addAct{
    width: 20%;
    background-color: white;
    float: right;
    margin-top: 1%;
    text-align: center;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .acct{
    width: 20%;
    background-color: white;
    float: right;
    margin-top: 1%;
    text-align: center;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .profile{
    width: 20%;
    background-color: white;
    float: right;
    margin-top: 1%;
    text-align: center;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .image{
    margin-right: 15%;
  }
  .pic{
    width: 20%;
  }
  
  .lamesa{
    background-color: white;
    width: 55%;
    padding: 3%;
    float: right;
    font-family: Arial;
    border-collapse: collapse;
    border-radius: 5px;
    overflow:auto;
    margin-top: 2%;
    margin-right: 15%;
  
  }
  .lamesa td, .lamesa th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th{
    width: 10%;
  }
  .lamesa tr:nth-child(even){background-color: #f2f2f2;}
  
  .lamesa tr:hover {background-color: #ddd;}
  
  .lamesa th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightsalmon;
  color: black;
  }