.container {
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    width: 98%;
    margin-bottom: 20px;
}

.card-dashboard {
    background-color: #fff;
    width: 81%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-dashboard h3 {
    margin-top: 0;
}
.card-dashboard ul {
    list-style: none;
    padding: 0;
}
.card-dashboard ul li {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}