.main{
    width: 20%;
    background-color: lightcoral;
    border-radius: 20% solid black;
    float: right;
    margin-left: 60%;
    font-size: 0.7rem;
    display: flex;
    position: absolute;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 1rem;
}


