  .table{
      background-color: white;
      width: 84%;
      float: right;
      font-family: Arial;
      border-collapse: collapse;
      overflow:auto;
      margin-top: 1%;
  }

  .table td, .table th {
      border: 1px solid #ddd;
      padding: 8px;
  }

  th{
      width: 10%;
  }

  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightsalmon;
    color: black;
  }
  
  .search{
    float: right;
    background-color: transparent;
    width: 82%;
    padding: 1rem;
    margin-top: 1%;
  }
  input{
    padding: 1%;
    width: 25%;
  }
  
  .btns{
    background-color: rgba(255, 255, 255, 0.836); 
    padding: 1%;
    border: solid black 1px;
  }
  
  button{
    background-color: lightsalmon; 
    padding: 5%;
    margin-left: 2%;
    cursor: pointer;
  }
  
  button:hover {
    background-color: lightcoral;
  }

  .center-text {
    text-align: center !important;
  }

  /* Basic styles for the span element */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: red;
}

/* Tooltip text (hidden by default) */
.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 125%;  /* Tooltip appears above the span */
  left: 50%;
  margin-left: -100px;  /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
  font-size: 14px;
}

/* Arrow for the tooltip */
.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;  /* Position the arrow below the tooltip */
  left: 50%;
  margin-left: -5px;  /* Center the arrow */
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* When hovering over the span, show the tooltip */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
